.singleBeer{
    .image-container{
        img{
            max-height: 350px;
            display: block;
            margin: 0 auto;
        }
    }
    h1{
        &.title{
            font-weight: 500;
            margin-bottom: 1rem;
            line-height: 65px;
            font-size: 3rem;
        }
    }
    h2{
        &.tagline{
            color: $primary;
            font-weight: 900;
            font-size: 1.25rem;
            line-height: 23px;
        }
    }
    .additional-info{
        color: $gray-500;
        line-height: 1.25rem;
        font-size: .9rem;
    }
    .description{
        font-size: .95rem;
    }
    .ingredients{
        strong{
            display: block;
        }
        ul{
            padding-left: 1rem;
            li{
                font-size: .9rem;
                list-style: decimal;
            }
        }
        span{
            font-size: .9rem;
        }
    }
}
