.singleBeer{
    .image-container{
        img{
            max-height: 350px;
            display: block;
            margin: 0 auto;
        }
    }
    h1{
        &.title{
            font-weight: 500;
            margin-bottom: 1rem;
            line-height: 65px;
        }
    }
    h2{
        &.tagline{
            color: $primary;
            font-weight: 900;
            font-size: 1.25rem;
            line-height: 23px;
        }
    }
    .description{
        font-size: .95rem;
    }
}
